<!-- forgot-password.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    /* styles.css */

* {
  font-family: 'Poppins';
}

body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(218deg 50% 91%);
  height: 100vh;
}

form {
  background: hsl(213deg 85% 97%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 1em hsl(231deg 62% 94%);
}

h1 {
  color: hsl(233deg 36% 38%);
  margin: 0px;
}

label {
  color: hsl(0deg 0% 30%);
  margin-bottom: 0.2em;
}

input {
  outline: none;
  border: none;
  background: hsl(0deg 0% 100%);
  box-shadow: 0 0 1em hsl(231deg 62% 94%);
  padding: 0.5em;
  border-radius: 10px;
  color: hsl(0deg 0% 30%);
  font-size: 1em;
  margin-bottom: 15px;
}

input::placeholder {
  color: hsl(0deg 0% 0%);
  font-size: 0.9em;
}

button {
  cursor: pointer;
  padding: 1em 0.5em;
  background: hsl(233deg 36% 38%);
  color: hsl(0, 17%, 92%);
  border: none;
  border-radius: 15px;
  font-weight: 600;
}

  </style>
</head>

<body>
  

  <form action="/forgot-password" method="post">
    <h1>Forgot Password</h1>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <button type="submit">Submit</button>
  </form>

  <!-- Include your additional HTML content, scripts, or styles here -->
</body>

</html>
